@page
@model Home
@{
    ViewData["Title"] = "Početna";
}
<h1>@ViewData["Title"]</h1>


<p>@Model._prijavljeniKorisnik.Id</p>
<p>@Model._prijavljeniKorisnik.Ime</p>
<p>@Model._prijavljeniKorisnik.Uloga</p>